html,
body {
  padding: 0;
  margin: 0;
  font-family: vdl-v7marugothic, sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color:#27214D;
  color: white;
}
main{
    background-color:#27214D;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

* {
  box-sizing: border-box;
}
